{% extends 'onetimesecrets/base.html' %}

{% block content %}
<h1 class="title">{% block title %} Welcome to One Time Secret Share {% endblock %}</h1>

<form method="post">
  {% csrf_token %}
  <div class="field">
    <label class="label">Add your secret and click the button to get unique link</label>
    <div class="control">
      {{ form.as_p }}
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary is-outlined">Generate Secret Link</button>
    </div>
  </div>
</form>

{% endblock %}